<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323719243824-5f03ts76qet25l90890mkqfjptv1algr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323719243824-5f03ts76qet25l90890mkqfjptv1algr</string>
	<key>API_KEY</key>
	<string>AIzaSyCrHB3arGpJIltcvWvXPQr3k7b7W3igWDM</string>
	<key>GCM_SENDER_ID</key>
	<string>323719243824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehdihdev.ReadyMade</string>
	<key>PROJECT_ID</key>
	<string>readymade-app</string>
	<key>STORAGE_BUCKET</key>
	<string>readymade-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323719243824:ios:35b954682adfc5c73565f5</string>
</dict>
</plist>